/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Text style for Recipes */
a {
    font-size:22px;
    font-family: Cosmic Sans MS, Fantasy, Sans-serif;
}

#title{
    text-align: center;
}

/* Grandma Gingersnap Cookies Section */
.recipe1{
    float: left;
}

.gingcookiespic{
    width:370px;
    height:auto;
}

/* Choco Peanut Butter Cracker Section */
.recipe2{
    float: right;
}

.chococookiespic{
    width: 370px;
    height:auto;
}

/* Marbled Pumpkin Pie Section */
.recipe3{
    text-align:center;
    line-height:324px;
}

.chocopiepic{
    width: 370px;
    height:auto;
}