/* Cafe Pic and Hyuns Cafe Title */
.container {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:80px;
    width: 1840px;
  }

  .coffee{
    float:center;
    width:500px;
    height:auto;
    background-color: #1e2222;
    color: white;
    padding:10px;
    border:5px solid darkgrey;
    margin: 20px;
  }

  body{
    background-color: slategray;
  }

#title{
    text-align: center;
    font-family: Cosmic Sans MS, Fantasy, Sans-serif;
    word-spacing: 1px;
    letter-spacing: 1px;
    background-color: #1e2222;
    color: white;
    padding:10px;
    border:5px solid darkgrey;
    margin: 20px;
}

  /* Text style for Recipes */
a {
    font-size:16px;
    font-family: Cosmic Sans MS, Fantasy, Sans-serif;
    background-color: azure;
}

/* Section for all 3 images and Flex Row */

.Group{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 1840px;

}

.Group img{
    width:330px;
    height:300px;
}

.rtitle {
    font-family: Cosmic Sans MS, Fantasy, Sans-serif;
    word-spacing: 1px;
    letter-spacing: 1px;
    background-color: #1e2222;
    color: white;
    padding:10px;
    border:5px solid darkgrey;
    margin: 20px;
    text-align: center;
    margin-top: 0;
}

.column{
    margin-left:30px;
    background-color: #1e2222;
    color: white;
    padding:20px;
    border:5px solid darkgrey;
    margin: 20px;
    margin-bottom:0;
}



/* Grandma Gingersnap Cookies Section */
.recipe1{
    
}


/* Choco Peanut Butter Cracker Section */
.recipe2{
   
}



/* Marbled Pumpkin Pie Section */
.recipe3{

}

