/* Container holding the image and the text */
.container {
    position: relative;
    text-align: right;
    color: white;
  
  }

  .coffee{
    float:center;
    width:500px;
    height:auto;
  }

  /* Text style for Recipes */
a {
    font-size:20px;
    font-family: Cosmic Sans MS, Fantasy, Sans-serif;
    background-color: azure;
}

#title{
    text-align: right;
}

/* Pics for Column Row */

.Group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Group img{
    width:400px;
}


/* Grandma Gingersnap Cookies Section */
.recipe1{
    
}


/* Choco Peanut Butter Cracker Section */
.recipe2{
   
}



/* Marbled Pumpkin Pie Section */
.recipe3{
    
}

